.idea/ffxiv.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/sam-by-the-numbers-50-60-checkpoint.ipynb
.ipynb_checkpoints/sam-by-the-numbers-50-checkpoint.ipynb
.ipynb_checkpoints/sam-by-the-numbers-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.pyc
samurai.pyc