.idea/ffxiv.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/
*.pyc
samurai.pyc
*.pyc
plotting.pyc
*.pyc
.docs/sphinx/_build
.docs/sphinx/_static
.docs/sphinx/_templates
.idea/dictionaries/rconcep.xml
